:root {
  --body-background-color: #1960ee;
  --main-background-color: #5863d8;
  --main-color: #2a303b;
  --max-body-width: 700px;
  --border-color: #ee329a;
  --secondary-color: #090c17;
  --loader-bullet-size: 6px;
}

* {
  box-sizing: border-box;
}


body {
  background-image: url('images/IA_Pirate_2.jpg');
  display: cover;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #1960ee;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}


.main-container {
  max-width: var(--max-body-width);
  min-height: 100vh;
  /*background-color: var(--main-background-color);*/
  color: var(--main-color);
  padding: 50px;
  margin: 0 auto;
}

.header {
  text-align: right;
}

.header-title {
  margin-right: 100px;
  margin-top: 0px;
  font-size: 30;
}

.messages-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.message {
  border: 0px solid var(--border-color);
  border-radius: 5px;
  padding: 10px 15px;
}


#Bouton1 {
  padding: 50px 75px;
  margin: 50px 0 0 70px;
  font-size: 96;
  background-color: rgb(12, 160, 44);
  border-radius: 65px;
  border: none;
  cursor: grab;
}

#Bouton2 {
  padding: 50px 75px;
  font-size: 96;
  background-color: rgb(52, 229, 91);
  border-radius: 65px;
  border: none;
  cursor: grab;

}


/*
#messages-container {
  font-size: 36;
}
*/

.button {
  border: 1px solid var(--border-color);
  padding: 100px;
  border-radius: 10px;
  background-color: var(--main-background-color);
}

.button:hover,
.button:active {
  background-color: var(--body-background-color);
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Loader code taken from https://loading.io/css/ */
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: var(--loader-bullet-size);
}