<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Ma page</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style_acceuil.css') }}" />
</head>

<body>
  <main class="main-container">
    <button id="Bouton3">Change le PDF</button>
    <header class="header">
      <h1 class="header-title">Pirates des Ponts'raibes</h1>
    </header>


    <section id="messages-container" class="messages-container">
      <div class="message message-ai">
        Oye oye ! Choisis un mode matelot !
      </div>
    </section>

    <script>
      document.getElementById('Bouton3').addEventListener('click', function () {
        // Rediriger vers /
        window.location.href = '/choix_pdf';
      });
    </script>

    <button id="Bouton1">Mer de savoir</button>

    <button id="Bouton2">Crique du QCM</button>


    <script src="{{ url_for('static', filename='acceuil.js') }}">
    </script>
  </main>
</body>

</html>