<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Ma page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style_change.css') }}" />
</head>

<body>
    <main class="main-container">

        <header class="header">
            <h1 class="header-title">PDF Modifié</h1>
            <button id="return-button">Retour au navire</button>
        </header>

        <script>
            document.getElementById('return-button').addEventListener('click', function () {
                // Rediriger vers /
                window.location.href = '/';
            });
        </script>

        <form action="/upload" method="POST" enctype="multipart/form-data">
            <!-- Champ de saisie pour sélectionner un fichier -->
            <input type="file" id="file-upload" name="file-upload" class="file-input" />

            <!-- Bouton pour envoyer le fichier -->
            <button type="submit" class="button" id="send-button">Envoyer</button>
        </form>

    </main>
</body>

</html>