<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Ma page</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style_qcm.css') }}" />
</head>

<body>
    <audio id="background-music" autoplay loop>
      <source src="{{ url_for('static', filename='music/qcm.mp3') }}" type="audio/mp3">
      Votre navigateur ne supporte pas l'élément audio.
  </audio>
  <main class="main-container">
    <button id="return-button"></button>
    <header class="header">
      <h1 class="header-title"></h1>
    </header>

    <script>
      document.getElementById('return-button').addEventListener('click', function () {
        // Rediriger vers /
        window.location.href = '/';
      });
    </script>


    <section id="messages-container" class="messages-container">
      <div class="message message-ai">
        Lesquelles de ces affirmations sont réelles?
      </div>
    </section>

    <button id="Bouton1">Reponse 1</button>

    <button id="Bouton2">Reponse 2</button>

    <button id="Bouton3">Reponse 3</button>

    <button id="Bouton4">Reponse 4</button>

    <button id="Validate">Je bloque ces paroles</button>

    <script src="{{ url_for('static', filename='qcm.js') }}">

    </script>
  </main>
</body>

</html>
